
.container_a{
    width: 90%;
    background-position: center;
    margin-left: 5%;
    margin-right: 5%;
}

.box1{
    color: white;
    text-align: center;
    vertical-align: center;
    font-size: 60%;

    height: min-content;
    background-color:#00387e;
    background-position: center;
}


.container_a1{
    font-size: 75%;
    text-align: center;
    width: 100%;
    /* display: flex; */
    justify-content:space-between;
    align-items: center;
    margin-bottom: 10px;
}

.otoi {
    width: 120px;
    /* height: 25px; */
    background: #e50112 ;
    border-radius:35px ;
    color: white;
    /* text-align: center; */
    /* vertical-align: center; */
    vertical-align:middle;
    margin-right: 10px;
}

img{vertical-align:bottom;}

.item_g{
    background-color: #00387e;
    /* width: 70%; */
    /* height: 70px; */
    margin-top: 0px;
    padding-top: 0px;
    font-size: 70%;
    font-weight: bold;
    text-align: center;
    margin-right: 0px;
}

.text_g1{
    color: white;
    /* font-size: 11px; */
    /* font-weight: bold; */
    /* text-align: center; */
    margin-top: 0px;
    padding-top: 5px;
    margin-bottom: 5px;
}

.text_g2{
    color: #e50112;
    /* font-size: 11px; */
    /* font-weight: bold; */
    /* text-align: center; */
    width: 80%;
    background-color: #f4f2cc;
    margin-left: auto;
    margin-right: auto;
}

.text_g3{
    color: white;
    /* font-size: 11px; */
    /* font-weight: bold; */
    /* text-align: center; */
    margin-top: 0px;
    padding-top: 5px;
    margin-bottom: 0px;
}



.container_b{
    margin-left: 5%;
    margin-right: 5%;
}

.container_b1{
    margin-left: 0%;
    margin-right: 0%;
    background-color: #00387e;
}

.item_h{
    background-color: #00387e;
    height: 70px;
    color: white;
    font-size: 30%;
    text-align: center;
    vertical-align:center;
    justify-content:space-between;
    align-items: center;
}

.item_h1 {
    height: 30px;
    background: #e50112 ;
    border-radius:10px 10px 10px 10px;
}

.item_h2 {
    height: 30px;
    background: #e50112 ;
    border-radius:10px 10px 10px 10px;
}

.item_h3 {
    height: 30px;
    background: #e50112 ;
    border-radius:10px 10px 10px 10px;
}
.item_h4 {
    height: 30px;
    background: #e50112 ;
    border-radius:10px 10px 10px 10px;
}
.item_h5 {
    height: 30px;
    background: #e50112 ;
    border-radius:10px 10px 10px 10px;
}
.item_h6 {
    height: 30px;
    background: #e50112 ;
    border-radius:10px 10px 10px 10px;
}


.container_b2{
    color: white;
    font-size: 70%;
    font-weight: bold;
    text-align: center;
    vertical-align:center;
    background-color: #00387e;
    height: 140px;
    margin:0px 0px 0px 0px;
    position: relative;
}

.item_i{
    width: 90%;
    height: 90%;
    text-align: center;
    background: #7a7a7a ;
    border-radius:20px 20px 20px 20px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.item_i p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform : translate(-50%,-50%);
    width: 80%;
    text-align: center;
    margin: auto;
}

.container_C{
    position: relative;
}
.item_j{
    color: darkorange;
    font-weight: bold;
    vertical-align: center;
    text-align: center;
    margin-bottom: 0px;
}
.item_k{
    text-align: center;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

@media ( min-width : 680px ){
    .container_a1 {
      display: flex;
    }
    .container_b{
        display: flex;
    }
    .container_b1 {
        flex-basis:70%;
    }
    .container_b2 {
        flex-basis:30%;
    }

    .item_h {
        display: flex;
    }
    .item_h1 {
        width: 12%;
        margin-left: 10%;
    }
    .item_h2 {
        width: 12%;
    }
    .item_h3 {
        width: 12%;
    }
    .item_h4 {
        width: 12%;
    }
    .item_h5 {
        width: 12%;
    }
    .item_h6 {
        width: 12%;
        margin-right: 10%;
    }

}

@media ( max-width : 680px ){
    /* .container_a1 {
      /* display: flex; */
    /* } */
    .item_h {
        display: flex;
        flex-wrap: wrap;
    }
    .item_h1 {
        width: 24%;
        margin-left: 10%;
    }
    .item_h2 {
        width: 24%;
    }
    .item_h3 {
        width: 24%;
        margin-right: 10%;
    }
    .item_h4 {
        width: 24%;
        margin-left: 10%;
    }
    .item_h5 {
        width: 24%;
    }
    .item_h6 {
        width: 24%;
        margin-right: 10%;
    }

    .otoi{
        position: fixed;
        bottom: 10px;
        right: 10px;           
    }
}
